@import '../../scss/public';
.header{
	height:66px;
	background:#f3f3f3;
	.header-auto{
		@include autoWidth();
		
	}
}
.header-ul{
	overflow:hidden;
	li{
		float:left;
		@include height(66px);
		width:100px;
		float:left;
		position:relative;
		text-align:center;
		a{
			display:block;
			position:relative;
			&.active{
				color:#e00a75;
				&:after{
					content:'';
					position:absolute;
					bottom:0;
					width:100%;
					height:10px;
					left:0;
					background:url("../images/v_h_active.png") no-repeat 0 0;
				}
			}
		}
	}
}