.autoWrapp{
	width:1200px;
	margin:0 auto;
}
.auto-classify{
	width:1050px;
	margin:29px auto 0;
}
.check{
	background:url('../images/icon_check.png') no-repeat;
}
.salary{
	background:url('../images/icon_salary.png') no-repeat;
}
.personal{
	background:url('../images/icon_personal.png') no-repeat;
}
.massage{
	background:url('../images/icon_massage.png') no-repeat;
}
.haircut{
	background:url('../images/icon_haircut.png') no-repeat;
}
.dinner{
	background:url('../images/icon_dinner.png') no-repeat;
}
.taxi{
	background:url('../images/icon_taxi.png') no-repeat;
}
.consumption{
	background:url('../images/icon_consumption_loan.png') no-repeat;
}
.housing{
	background:url('../images/icon_housing_loan.png') no-repeat;
}
.cash{
	background:url('../images/icon_cash.png') no-repeat;
}
.certificate{
	background:url('../images/icon_certificate.png') no-repeat;
}
.timecard{
	background:url('../images/icon_timecard.png') no-repeat;
}
.record{
	background:url('../images/icon_record.png') no-repeat;	
}






.orange{
	background:url('../images/label_orange.png') no-repeat;
}
.blue{
	background:url('../images/label_blue.png') no-repeat;	
}
.green{
	background:url('../images/label_green.png') no-repeat;	
}
.classify{
	padding-top:1px;
	.classify-title{
		position:relative;
		&:after{
			position:absolute;
			content:'';
			left:111px;
			top:13px;
			right:0;
			height:0;
			border-top:1px dashed #aaa;
		}
		span{
			display:inline-block;
			width:101px;
			height:30px;
			line-height:30px;
			text-align:center;
			color:#fff;
			font-size:16px;
		}
	}
	.classify-hover{
		a{
			&:hover{
				color:#f6b751;
				border:1px solid #f5b741;
				.classify-info{
					h3{
						color:#f4a525;
					}
				}
			}
		}
	}
	.classify-coutent{
		padding-left:65px;
		overflow:hidden;
		margin-top:29px;
		li{
			float:left;
			margin-right:92px;
			a{
				display:block;
				width:234px;
				height:80px;
				border:1px solid #fff;
				border-radius:4px;
				padding:6px 0;
				color:#666;
				span{
					display:block;
					float:left;
					width:80px;
					height:80px;
				}
				.classify-info{
					float:left;
					padding:16px 0;
					margin-left:13px;
					h3{
						font-size:22px;
						color:#333;
					}
					p{
						margin-top:12px;
					}
				}
				
			}
		}
	}
}