@import 'public';
blockquote, body, button, dd, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, hr, input, legend, li, ol, p, pre, td, textarea, th, ul {
    margin: 0;
    padding: 0;
}

ul,li,ol{
	list-style:none;
}

em,i{
	font-style:normal;
}
body{
	font-family:$fontFamily;
	color:$fontColor;
	font-size:$fontSize;
	line-height:1;
}
textarea{
	resize: none;
}
a{
	text-decoration: none;
	color:#666;
	cursor:pointer;
}
img{
	border:0;
	vertical-align:top;
}
input,select,button{
	font-family:$fontFamily;
	border:0;
	outline:none;
	vertical-align:top;
}
input:focus{
	border:0;
}
input::-webkit-input-placeholder,textarea::-webkit-input-placeholder { 
	color: #999; 
} 
input:-moz-placeholder,textarea:-moz-placeholder{ 
	color: #999; 
} 
input::-moz-placeholder,textarea::-moz-placeholder{
	color: #999; 
} 
input:-ms-input-placeholder,textarea:-ms-input-placeholder { 
	color: #999; 
} 
.fl{
	float:left;
}
.fr{
	float:right;
}
.clearfix:after{
	content:".";
	display:block;
	height:0;
	clear: both;
	visibility: hidden;
}
.autoWrapp{
	
}
